# 注意: /cache 需入库，内含 paperclip 离线启动所需的 vanilla 缓存 (mojang_1.12.2.jar)
/logs
/world
/world_nether
/world_the_end
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/eagler_skins_cache.db
/usercache.json
/version_history.json
/whitelist.json